<div class="contianer">	
	<div class="jumbotron" style="text-align:center;">
		<h1>Let's Eat Some Burgers!</h1>
		<p>"Mmmmm! That is a tasty burger!"</p>
		<img src="../public/assets/img/burger.png" alt="burger">
	</div>
	<!-- Burger List -->
	<div class="panel panel-default col-sm-6">
		<div class="panel panel-heading" style="text-align:center; margin-top: 15px;">
			<h2> Freshly Made Burgers </h2>
		</div>
		<div class="panel panel-heading">		
	        {{#each burgers}}
	          	{{#unless this.devoured}}
            		<div class="input-group" id="fresh-burger">
						<h2> {{this.burger_name}} </h2>
						<span class="input-group-btn">
							<form action="/burgers/{{this.id}}?_method=PUT" method="POST">
								<input type="hidden" name="devoured" value="true" data-id="{{id}}">
								<button type="submit" class="btn btn-danger btn-lg"> SMASH THIS BURGER! </button>
							</form>
						</span>
					</div>
	          	{{/unless}}
	        {{/each}}
      	</div>
    </div>  	
	<!-- Eaten Burgers List -->
	<div class="panel panel-default col-sm-6">
		<div class="panel panel-heading" style="text-align:center; margin-top: 15px;">
			<h2> Burgers You've Eaten </h2>
		</div>
		<div class="panel panel-heading" id="eaten-burger">
    		{{#each burgers}}
     			{{#if this.devoured}}
        			<div id="eaten-burger">
          				<p> {{this.burger_name}} </p>
        			</div>
      			{{/if}}
    		{{/each}}
    	</div>	
  	</div>
    <!-- Burger Add Option -->
    <div class="panel panel-default col-sm-12">
    	<div class="panel panel-heading">
    		<h2 style="text-align:center">Let's Whip Up A Burger!</h2>
    	</div>
    	<div class="panel panel-body" id="add-burger-section">
    		<div class=" col-sm-12" id="burger-submit">
	    		<form action="/burgers" method="POST">
	      			<input type="text" name="burger_name" id="input-bar" placeholder="What Ya Eatin'?">
	      			<button type="submit" class="btn btn-success" id="add-burger">Add The Burger</button>
	    		</form>
    		</div>
    	</div>
    </div>		
</div>	
